.comments {
  list-style: none;
  margin-inline-start: 0;
}

.comments__item {
  scroll-margin-block-start: var(--lh);

  .comments {
    box-shadow: inset 1px 0 0 var(--color-box-border-dark);
    padding-left: var(--lh);

    .comments__author::before {
      position: absolute;
      top: 50%;
      left: calc(var(--lh) * -1);
      width: calc(var(--lh) / 4);
      height: calc(var(--lh) / 4);
      background: var(--color-box-border-dark);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      content: "";
    }
  }
}

.comments__wrapper {
  margin-block-end: var(--lh);
  word-wrap: break-word;
}

.comments__wrapper > * {
  margin-block-end: var(--lh);
}

.comments__author {
  display: flex;
  margin-block-end: var(--lh);
  position: relative;
}

.comments__socials {
  display: none;
}

@media screen and (min-width: 764px) {
  .comments__socials {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
  }

  .comments__link {
    display: block;
    width: var(--lh);
    height: var(--lh);
    background: var(--color-box-background);
    margin-inline-start: calc(var(--lh) / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--color-text);
    border-radius: 2px;
  }

  .comments__link__icon {
    width: 16px;
    height: 16px;
    opacity: 0.5;
  }
}

.comments__author__photo {
  width: calc(var(--lh) * 1.5);
  height: calc(var(--lh) * 1.5);
  margin-inline-end: calc(var(--lh) / 2);
  line-height: calc(var(--lh) * 1.5);
  text-align: center;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2px;
}

.comments__author__data {
  flex-grow: 1;
  min-width: 1px;
}

.comments__author__name {
  font-weight: 700;
  line-height: calc(var(--lh) * 0.75);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comments__author__metadata {
  font-size: calc(var(--fz) / var(--type-scale) / var(--type-scale));
  line-height: calc(var(--lh) * 0.75);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comments__hash {
  color: inherit;
  text-decoration: none;
}
