:root {
  --fz: 1rem;
  /* 17px */
  --fzb: 106.25%;
  /* 28px */
  --lh: 1.6470588235rem;
  --type-scale: 1.2;

  --border-radius: 4px;

  --color-background: light-dark(hsl(255 0% 100%), hsl(210 15% 15%));
  --color-text: light-dark(hsl(255 10% 20%), hsl(210 15% 90%));
  --color-link: light-dark(hsl(255 55% 40%), hsl(210 100% 81%));
  --color-share: light-dark(hsl(255 55% 40% / 0.06), hsl(212 100% 81% / 0.06));
  --color-share-border: light-dark(
    hsl(255 55% 40% / 0.08),
    hsl(212 100% 81% / 0.08)
  );
  --color-update-background: light-dark(hsl(5 90% 97%), hsl(5 35% 24%));
  --color-update-border: light-dark(hsl(5 90% 80%), hsl(5 35% 32%));
  --color-box-background: light-dark(hsl(0 0% 97%), hsl(210 12% 11%));
  --color-box-border: light-dark(hsl(0 0% 93%), hsl(210 12% 20%));
  --color-box-border-dark: light-dark(hsl(0 0% 87%), hsl(210 12% 30%));

  --color-syntax-c1: light-dark(#6a737d, #6a737d);
  --color-syntax-nx: light-dark(#005cc5, #79b8ff);
  --color-syntax-p: light-dark(#24292e, #e1e4e8);
  --color-syntax-o: light-dark(#d73a49, #f97583);
  --color-syntax-sb: light-dark(#032f62, #e1e4e8);
  --color-syntax-nt: light-dark(#005cc5, #79b8ff);
  --color-syntax-s2: light-dark(#032f62, #9ecbff);
  --color-syntax-kr: light-dark(#d73a49, #f97583);
  --color-syntax-na: light-dark(#6f42c1, #b392f0);
  --color-syntax-s: light-dark(#032f62, #9ecbff);
  --color-syntax-nc: light-dark(#6f42c1, #b392f0);
  --color-syntax-k: light-dark(#005cc5, #79b8ff);
}

@supports not (color: light-dark(white, black)) {
  :root {
    --color-background: hsl(255 0% 100%);
    --color-text: hsl(255 10% 20%);
    --color-link: hsl(255 55% 40%);
    --color-share: hsl(255 55% 40% / 0.06);
    --color-share-border: hsl(255 55% 40% / 0.08);
    --color-update-background: hsl(5 90% 97%);
    --color-update-border: hsl(5 90% 80%);
    --color-box-background: hsl(0 0% 97%);
    --color-box-border: hsl(0 0% 93%);
    --color-box-border-dark: hsl(0 0% 87%);
    --color-syntax-c1: #6a737d;
    --color-syntax-nx: #005cc5;
    --color-syntax-p: #24292e;
    --color-syntax-o: #d73a49;
    --color-syntax-sb: #032f62;
    --color-syntax-nt: #005cc5;
    --color-syntax-s2: #032f62;
    --color-syntax-kr: #d73a49;
    --color-syntax-na: #6f42c1;
    --color-syntax-s: #032f62;
    --color-syntax-nc: #6f42c1;
    --color-syntax-k: #005cc5;
  }
}

@media screen and (min-width: 764px) {
  :root {
    /* 18px */
    --fzb: 112.5%;
    /* 30px */
    --lh: 1.6666666667rem;
  }
}

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/InterVariable-Italic.woff2") format("woff2");
}

@font-face {
  font-family: MonaspaceNeonVar;
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url("/MonaspaceNeonVar.woff2") format("woff2");
}

@view-transition {
  navigation: auto;
}

::selection {
  background-color: var(--color-link);
  color: var(--color-background);
  text-shadow: none;
}

::target-text {
  background-color: color-mix(in srgb, var(--color-link) 25%, transparent);
  color: var(--color-text);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--fzb);
  scroll-padding-top: var(--lh);
  scroll-behavior: smooth;
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  hanging-punctuation: first allow-end last;

  &.translated-rtl {
    direction: rtl;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family:
    InterVariable,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: var(--fz);
  font-weight: 480;
  line-height: var(--lh);
  transition: all 300ms;

  /* background-image: linear-gradient( */
  /*   var(--color-box-border-dark) 1px, */
  /*   transparent 1px */
  /* ); */
  /* background-size: 100% 1lh; */
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}

video {
  max-width: 100%;
}

p {
  text-wrap: pretty;
}

a {
  background-color: transparent;
  color: var(--color-link);
  word-wrap: break-word;
  text-decoration-color: var(--color-link);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

a:hover,
a:focus,
a:active,
[aria-current="page"] {
  color: var(--color-text);
  text-decoration-color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  text-decoration: none;
  word-wrap: break-word;
  text-wrap: balance;
}

h1 {
  font-size: calc(
    var(--fz) * var(--type-scale) * var(--type-scale) * var(--type-scale)
  );
  line-height: calc(var(--lh) * 1.5);
}

h2 {
  font-size: calc(var(--fz) * var(--type-scale) * var(--type-scale));
}

h3 {
  font-size: calc(var(--fz) * var(--type-scale));
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: calc(var(--fz) / var(--type-scale));
}

h6 {
  font-size: calc(var(--fz) / var(--type-scale) / var(--type-scale));
}

ul,
ol {
  ul,
  ol {
    margin-inline-start: 0.5lh;
  }
}

hr {
  display: block;
  height: var(--lh);
  border: 0;
  background-image: linear-gradient(
    90deg,
    var(--color-box-border-dark),
    var(--color-background)
  );
  background-size: 100% 1px;
  background-position: center;
  background-repeat: no-repeat;
}

blockquote {
  padding: var(--lh);
  background: var(--color-box-background);
  border-inline-start: calc(var(--lh) / 4) solid var(--color-box-border);
}

blockquote p {
  margin: 0;
  font-style: italic;
}

blockquote cite {
  display: block;
  margin-block-start: var(--lh);
  text-align: end;
}

blockquote cite::before {
  content: " \2014";
  margin-inline-end: calc(var(--lh) / 2);
}

picture {
  display: block;
}

figure {
  display: grid;
  gap: calc(var(--lh) * 0.25);

  &[data-size="biggie"] picture {
    @media screen and (min-width: 1000px) {
      justify-self: center;
      width: 130%;
    }
  }
}

figcaption {
  font-size: calc(var(--fz) / var(--type-scale));
  line-height: calc(var(--lh) * 0.75);
  font-style: italic;
}

sup {
  vertical-align: bottom;
  position: relative;
  top: calc(var(--lh) / -4);
  font-size: calc(var(--fz) / var(--type-scale));
}
