.header {
  display: flex;
  flex-direction: column;
  gap: var(--lh);
  justify-content: space-between;
  padding-block: calc(var(--lh) * 4);
  position: relative;
  padding-block: calc(var(--lh) * 2);

  @media screen and (min-width: 1050px) {
    flex-direction: row;
    padding-block: calc(var(--lh) * 4);
  }
}

.header__skip {
  position: absolute;
  top: 0;
  padding-inline: calc(var(--lh) / 2);
  font-size: calc(var(--fz) / var(--type-scale));
  transform: scale(0);
}

.header__skip:focus {
  transform: scale(1);
}

.header__nav {
  display: flex;
}

.header__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--lh) / 2);
  margin: 0;
  list-style: none;
}

.header__item--logo {
  flex-basis: 100%;

  @media screen and (min-width: 764px) {
    flex-basis: auto;
  }
}

.header__logo {
  color: inherit;
  display: flex;
  width: fit-content;
  gap: calc(var(--lh) / 2);
  align-items: center;
  font-size: calc(var(--fz));
  font-weight: 800;
  text-decoration: none;
}

.header__logo::before {
  content: "";
  width: calc(var(--lh) * 2);
  height: calc(var(--lh) * 2);
  background-image: url("/logo.jpg");
  background-size: 100% 100%;
  border-radius: var(--lh);
}

.header-theme {
  display: flex;
  align-items: center;
  font-size: calc(var(--fz) / var(--type-scale));
}

/* this should go away when ligh-dark gains wider browser support */
/* https://webstatus.dev/features/light-dark?q=light-dark */
@supports not (color: light-dark(white, black)) {
  .header-theme {
    display: none;
  }
}

.header-theme__label {
  margin-right: calc(var(--lh) / 4);
}

.header-theme__button {
  padding: 0 calc(var(--lh) / 4);
  background-color: transparent;
  border: 0;
  border-radius: var(--border-radius);
  color: inherit;
  font: inherit;
  cursor: pointer;
}

button[aria-pressed="true"] {
  background-color: var(--color-link);
  color: var(--color-background);
}
