.share {
  display: flex;
  flex-direction: column;
  gap: var(--lh);
  box-shadow: inset 0 0 0 2px var(--color-share-border);
  background-color: var(--color-share);
  border-radius: var(--border-radius);
  padding: var(--lh);
  margin-block: calc(var(--lh) * 3);
}

@media screen and (min-width: 900px) {
  .share {
    width: calc(100% + 2 * var(--lh));
    margin-inline-start: calc(var(--lh) * -1);
  }
}

.share__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--lh) / 2);
}
