{{ define "main" }}

<div class="wrapper">
  <article class="post">
    <div class="content">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </article>
</div>

<div class="wrapper wrapper--huge">
  <ul class="music">
    {{ range (where .Site.RegularPages "Section" "music") }} {{- $url :=
    .Params.releaseUrl -}} {{- $artist := .Params.releaseArtist -}} {{- $title
    := .Params.releaseTitle -}} {{- $year := .Params.releaseYear -}} {{- $added
    := .Params.releaseAdded -}}

    <li class="music__item">
      <a href="{{ $url }}" class="music__link">
        {{ with .Page.Resources.GetMatch "cover.jpg" }}
        <img
          class="music__cover"
          src="{{ .Permalink }}"
          alt="{{ $artist }} - {{ $title }}"
          loading="lazy"
          decoding="async"
          width="600"
          height="600"
        />
        {{ else }}
        <div class="music__cover"></div>
        {{ end }}

        <p class="music__artist">{{ $artist }}</p>
        <p class="music__title">{{ $title }} ({{ $year }})</p>
        <p class="music__added">Added: {{ $added }}</p>
      </a>
    </li>
    {{ end }}
  </ul>
</div>

{{ end }}
