<picture>
  {{ $isJPG := eq (path.Ext .Destination) ".jpg" }}
  {{ $isPNG := eq (path.Ext .Destination) ".png" }}

  {{ if ($isJPG) -}}
    {{ $avifPath:= replace .Destination ".jpg" ".avif" }}
    {{ $avifPathStatic:= printf "static/%s" $avifPath }}

    {{ if (fileExists $avifPathStatic) -}}
      <source srcset="{{ $avifPath | safeURL }}" type="image/avif" media="(prefers-color-scheme: light)">
    {{- end }}

    {{ $avifPathDark:= replace .Destination ".jpg" "-dark.avif" }}
    {{ $avifPathDarkStatic:= printf "static/%s" $avifPathDark }}

    {{ if (fileExists $avifPathDarkStatic) -}}
      <source srcset="{{ $avifPathDark | safeURL }}" type="image/avif" media="(prefers-color-scheme: dark)">
    {{- end }}

    {{ $webpPath:= replace .Destination ".jpg" ".webp" }}
    {{ $webpPathStatic:= printf "static/%s" $webpPath }}

    {{ if (fileExists $webpPathStatic) -}}
      <source srcset="{{ $webpPath | safeURL }}" type="image/webp" media="(prefers-color-scheme: light)">
    {{- end }}

    {{ $webpPathDark:= replace .Destination ".jpg" "-dark.webp" }}
    {{ $webpPathDarkStatic:= printf "static/%s" $webpPathDark }}

    {{ if (fileExists $webpPathDarkStatic) -}}
      <source srcset="{{ $webpPathDark | safeURL }}" type="image/webp" media="(prefers-color-scheme: dark)">
    {{- end }}

    {{ $jpgPathDark:= replace .Destination ".jpg" "-dark.jpg" }}
    {{ $jpgPathDarkStatic:= printf "static/%s" $jpgPathDark }}

    {{ if (fileExists $jpgPathDarkStatic) -}}
      <source srcset="{{ $jpgPathDark | safeURL }}" media="(prefers-color-scheme: dark)">
    {{- end }}
  {{- end }}

  {{ if ($isPNG) -}}
    {{ $avifPath:= replace .Destination ".png" ".avif" }}
    {{ $avifPathStatic:= printf "static/%s" $avifPath }}

    {{ if (fileExists $avifPathStatic) -}}
      <source srcset="{{ $avifPath | safeURL }}" type="image/avif" media="(prefers-color-scheme: light)">
    {{- end }}

    {{ $avifPathDark:= replace .Destination ".png" "-dark.avif" }}
    {{ $avifPathDarkStatic:= printf "static/%s" $avifPathDark }}

    {{ if (fileExists $avifPathDarkStatic) -}}
      <source srcset="{{ $avifPathDark | safeURL }}" type="image/avif" media="(prefers-color-scheme: dark)">
    {{- end }}

    {{ $webpPath:= replace .Destination ".png" ".webp" }}
    {{ $webpPathStatic:= printf "static/%s" $webpPath }}

    {{ if (fileExists $webpPathStatic) -}}
      <source srcset="{{ $webpPath | safeURL }}" type="image/webp" media="(prefers-color-scheme: light)">
    {{- end }}

    {{ $webpPathDark:= replace .Destination ".png" "-dark.webp" }}
    {{ $webpPathDarkStatic:= printf "static/%s" $webpPathDark }}

    {{ if (fileExists $webpPathDarkStatic) -}}
      <source srcset="{{ $webpPathDark | safeURL }}" type="image/webp" media="(prefers-color-scheme: dark)">
    {{- end }}

    {{ $pngPathDark:= replace .Destination ".png" "-dark.png" }}
    {{ $pngPathDarkStatic:= printf "static/%s" $pngPathDark }}

    {{ if (fileExists $pngPathDarkStatic) -}}
      <source srcset="{{ $pngPathDark | safeURL }}" media="(prefers-color-scheme: dark)">
    {{- end }}
  {{- end }}

  {{ $img := imageConfig (add "/static" (.Destination | safeURL)) }}

  <img
    src="{{ .Destination | safeURL }}"
    alt="{{ .Text }}"
    loading="lazy"
    decoding="async"
    width="{{ $img.Width }}"
    height="{{ $img.Height }}"
  />
</picture>
