{{ define "main" }}

<div class="wrapper">
  <div class="content">
    <h1>{{ .Page.Title  }}</h1>
    {{ .Content }}

    <h2 id="recent-blog-posts">Recent blog posts <a class="anchor" href="#recent-blog-posts">#</a></h2>
    <ul class="archive">
      {{ $posts := (where .Site.Pages "Section" "posts") }}

      {{ range first 5 $posts }}
      <li class="archive__item">
        <a class="archive__link" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
        <p class="archive__meta">Published: <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006.01.02" .Date }}</time> · {{ .ReadingTime }} {{ if (eq .ReadingTime 1) }}minute{{ else }}minutes{{ end }} read</p>
      </li>
      {{ end }}
    </ul>

    <a href="/archive" class="btn">Browse all posts ({{ len $posts }})</a>
  </div>
</div>

{{ end }}
