{{ define "main" }}

<style>
  .intro {
    background-color: var(--color-box-border);
    padding-block: calc(var(--lh) * 2);
    font-size: calc(var(--fz) * var(--type-scale));
    line-height: calc(var(--lh) * 1.5);
  }

  .intro p {
    max-width: 700px;
    margin-inline: auto;
  }
</style>

<div class="intro">
  <p>
    Hi, I'm Paweł, a software developer from Poland, now living in
    Northampton/UK. I do stuff on the web, write about it, and listen to
    funky/jazz records after hours.
  </p>
</div>

<h2>Recent blog posts</h2>

{{ end }}
