::selection {
  background: var(--color-link);
  color: #fff;
  text-shadow: none;
}

html {
  font-size: 112.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--fz);
  line-height: var(--lh);

  // background-image: linear-gradient(
  //   rgba(50, 50, 50, 0.15) 1px,
  //   transparent 1px
  // );
  // background-size: 100% 32px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}

a {
  background: transparent;
  color: var(--color-link);
  word-wrap: break-word;
}

a:hover,
a:focus,
a:active {
  color: var(--color-text);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--lh);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: calc(var(--lh) * 1.5);
  font-weight: 700;
  text-decoration: none;
}

h1 {
  font-size: calc(
    var(--fz) * var(--type-scale) * var(--type-scale) * var(--type-scale)
  );
  line-height: calc(var(--lh) * 1.5);
}

h2 {
  font-size: calc(var(--fz) * var(--type-scale) * var(--type-scale));
}

h3 {
  font-size: calc(var(--fz) * var(--type-scale));
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: calc(var(--fz) / var(--type-scale));
}

h6 {
  font-size: calc(var(--fz) / var(--type-scale) / var(--type-scale));
}

ul,
ol {
  margin: 0 0 var(--lh) var(--lh);
}

hr {
  display: block;
  height: var(--lh);
  border: 0;
  box-shadow: 0 1px 0 #eee;
}

blockquote {
  margin-bottom: var(--lh);
  padding: var(--lh);
  background: var(--color-box-background);
  box-shadow: 0 0 0 1px var(--color-box-border);
}

blockquote p {
  margin: 0;
  font-style: italic;
}

figure {
  margin-bottom: var(--lh);
}

figcaption {
  font-size: var(--fz) / var(--type-scale) / var(--type-scale);
}
