:root {
  --fz: 1rem;
  --fzb: 106.25%; // 17px
  --lh: 1.764705882rem; //30px
  --type-scale: 1.25;

  --color-text: #24292e;
  --color-background: #fff;
  --color-link: #005cc5;
  --color-update-background: #fbebea;
  --color-update-border: #edb0ab;
  --color-box-background: #f7f7f7;
  --color-box-border: #eee;
  --color-box-border-dark: #ddd;
  --color-syntax-k: #006699;
  --color-syntax-s: #cc3300;
  --color-syntax-m: #ff6600;
  --color-syntax-c: #999;
  --color-syntax-nb: #366;
  --color-syntax-o: #555555;
  --color-syntax-na: #330099;
  --color-syntax-nv: #003333;
}

@media screen and (min-width: 764px) {
  :root {
    --fzb: 112.5%; // 18px
    --lh: 1.77778rem; //32px
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fafbfc;
    --color-background: #24292e;
    --color-link: #9ecbff;
    --color-update-background: #6d3733;
    --color-update-border: #522926;
    --color-box-background: hsl(210, 12%, 12%);
    --color-box-border: hsl(210, 12%, 20%);
    --color-syntax-k: #9ecbff;
    --color-syntax-s: #f97583;
    --color-syntax-m: #ffab70;
    --color-syntax-c: #6a737d;
    --color-syntax-nb: #28a745;
    --color-syntax-o: #959da5;
    --color-syntax-na: #fafbfc;
    --color-syntax-nv: #00b1b1;
  }
}
