<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>

  {{ partial "header.html" . }}

  <main id="main">

    {{ range (.Paginate ( where .Data.Pages.ByDate "Section" "posts" )).Pages }}
    <strong>data: {{ .Data }}</strong>
    <!-- post -->
    <article class="post">
      <h2 class="post__title"><a class="post__url" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
      <p class="post__meta">Published: <time datetime="2018-03-03">2018.03.03</time> | {{ .ReadingTime }} minutes read</p>
      <p>{{ .Description }}</p>
      <a class="post__more" href="" title="{{ .Title }}">Read more »</a>
    </article>
    <!-- / post -->
    {{ end }}

  </main>

  {{ partial "footer.html" . }}

</body>
</html>
