{{ define "main" }}

      {{ "<!-- post -->" | safeHTML }}
      <article class="post js-post">
        <h1 class="post__title">{{ .Title }}</h1>

        {{ if eq .Type "posts" }}
        <p class="post__meta">Published: <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006.01.02" .Date }}</time> | {{ .ReadingTime }} minutes read</p>
        {{ end }}

        {{ .Content }}

        {{ if eq .Title "Archive" }}
        {{ "<!-- archive -->" | safeHTML }}
          <ul>
            {{- range (where .Site.Pages.ByDate.Reverse "Section" "posts").GroupByDate "2006" -}}
            <li><a href="#{{ .Key }}">Published in {{ .Key }} ({{ len .Pages }} posts)</a></li>
            {{end}}
          </ul>

          {{ range (where .Site.Pages.ByDate.Reverse "Section" "posts").GroupByDate "2006" }}
            <h2 id="{{ .Key }}">Published in {{ .Key }} ({{ len .Pages }} posts) <a href="#{{ .Key }}" class="post__hash">#</a></h2>
            <ul class="archive">
              {{ range .Pages }}
                <li class="archive__item">
                  <a class="archive__link" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
                  <p class="archive__date">Published: <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006.01.02" .Date }}</time></p>
                </li>
              {{ end }}
            </ul>
          {{ end }}
        {{ "<!-- / archive -->" | safeHTML }}
        {{ end }}

        {{ if eq .Type "posts" }}
        {{ "<!-- share -->" | safeHTML }}
        <section class="share">
          <svg xmlns="http://www.w3.org/2000/svg" class="share__icon" viewBox="0 0 512 512"><path d="M512 113.2c-18.8 8.4-39.1 14-60.3 16.5 21.7-13 38.3-33.6 46.2-58.1-20.3 12-42.8 20.8-66.7 25.5-19.2-20.4-46.5-33.1-76.7-33.1-58 0-105 47-105 105 0 8.2 0.9 16.2 2.7 23.9-87.3-4.4-164.7-46.2-216.5-109.8-9 15.5-14.2 33.6-14.2 52.8 0 36.4 18.5 68.6 46.7 87.4-17.2-0.5-33.4-5.3-47.6-13.1 0 0.4 0 0.9 0 1.3 0 50.9 36.2 93.4 84.3 103-8.8 2.4-18.1 3.7-27.7 3.7-6.8 0-13.3-0.7-19.8-1.9 13.4 41.7 52.2 72.1 98.1 73-36 28.2-81.2 45-130.5 45-8.5 0-16.8-0.5-25.1-1.5 46.6 29.9 101.8 47.2 161.1 47.2 193.2 0 298.9-160.1 298.9-298.9 0-4.6-0.1-9.1-0.3-13.6 20.5-14.7 38.3-33.2 52.4-54.3z"/></svg>
          <p class="share__text">If you liked this article, please <a href="https://twitter.com/intent/tweet?text={{ .Title }}&amp;url={{ .Permalink }}&amp;via=pawelgrzybek" class="share__link" title="Share on Twitter">share it on Twitter</a>.</p>
        </section>
        {{ "<!-- / share -->" | safeHTML }}

        {{ "<!-- comments -->" | safeHTML }}
        <section class="comments">

          <p class="comments__title">Comments:</p>

          <ul class="comments__list">
            <li class="comments__item">
              <article class="comments__wrapper">
                <div class="comments__author">
                  <img src="/assets/comment.svg" alt="Pawel Grzybek" class="comments__author__photo">
                  <div class="comments__author__data">
                    <div class="comments__author__name">Pawel Grzybek</div>
                    <div class="comments__author__deta">2021.02.20, ID: 9874-748-78648-7489</div>
                  </div>
                </div>
                <div class="comments__content">
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio fuga omnis blanditiis perferendis porro, voluptates praesentium ad magni dicta possimus iste, soluta rem optio nam laudantium tempora dolor enim sit.</p>
                </div>
                <button class="comments__reply js-comments__reply">Reply to Pawel Grzybek</button>
                <form class="form form--hidden js-form" name="Comments" netlify>
            <input type="hidden" name="parent" value="">
              <div class="form__col">
                <label class="form__label" for="name">Name:</label>
                <input class="form__input" id="name" name="name" type="text" placeholder="Barack Obama" required>
              </div>
              <div class="form__col">
                <label class="form__label" for="website">Website (optional):</label>
                <input class="form__input" id="website" name="website" type="url" placeholder="https://barackobama.com">
              </div>
              <div class="form__col">
                <label class="form__label" for="twitter">Twitter (optional):</label>
                <input class="form__input" id="twitter" name="twitter" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="github">GitHub (optional):</label>
                <input class="form__input" id="github" name="github" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="comment">Comment:</label>
                <textarea class="form__input form__input--textarea" id="comment" name="comment" placeholder="I think…" required></textarea>
              </div>
              <label class="form__row">
                <input class="form__checkbox js-form-save-data" name="save" type="checkbox">
                <span class="form__label form__label--thin">Save my data for the next time I comment</span>
              </label>
              <div class="form__row">
                <button class="form__button" type="submit">Submit comment</button>
              </div>
          </form>
              </article>
              <ul class="comments__list">
                <li class="comments__item">
                  <article class="comments__wrapper">
                    <div class="comments__author">
                      <img src="/assets/comment.svg" alt="Pawel Grzybek" class="comments__author__photo">
                      <div class="comments__author__data">
                        <div class="comments__author__name">Pawel Grzybek</div>
                        <div class="comments__author__deta">2021.02.20, ID: 9874-748-78648-7489</div>
                      </div>
                    </div>
                    <div class="comments__content">
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio fuga omnis blanditiis perferendis porro, voluptates praesentium ad magni dicta possimus iste, soluta rem optio nam laudantium tempora dolor enim sit.</p>
                    </div>
                    <button class="comments__reply js-comments__reply">Reply to Pawel Grzybek</button>
                    <form class="form form--hidden js-form" name="Comments" netlify>
            <input type="hidden" name="parent" value="">
              <div class="form__col">
                <label class="form__label" for="name">Name:</label>
                <input class="form__input" id="name" name="name" type="text" placeholder="Barack Obama" required>
              </div>
              <div class="form__col">
                <label class="form__label" for="website">Website (optional):</label>
                <input class="form__input" id="website" name="website" type="url" placeholder="https://barackobama.com">
              </div>
              <div class="form__col">
                <label class="form__label" for="twitter">Twitter (optional):</label>
                <input class="form__input" id="twitter" name="twitter" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="github">GitHub (optional):</label>
                <input class="form__input" id="github" name="github" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="comment">Comment:</label>
                <textarea class="form__input form__input--textarea" id="comment" name="comment" placeholder="I think…" required></textarea>
              </div>
              <label class="form__row">
                <input class="form__checkbox js-form-save-data" name="save" type="checkbox">
                <span class="form__label form__label--thin">Save my data for the next time I comment</span>
              </label>
              <div class="form__row">
                <button class="form__button" type="submit">Submit comment</button>
              </div>
          </form>
                  </article>
                </li>
                <li class="comments__item">
                  <article class="comments__wrapper">
                    <div class="comments__author">
                      <img src="/assets/comment.svg" alt="Pawel Grzybek" class="comments__author__photo">
                      <div class="comments__author__data">
                        <div class="comments__author__name">Pawel Grzybek</div>
                        <div class="comments__author__deta">2021.02.20, ID: 9874-748-78648-7489</div>
                      </div>
                    </div>
                    <div class="comments__content">
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio fuga omnis blanditiis perferendis porro, voluptates praesentium ad magni dicta possimus iste, soluta rem optio nam laudantium tempora dolor enim sit.</p>
                    </div>
                    <button class="comments__reply js-comments__reply">Reply to Pawel Grzybek</button>
                    <form class="form form--hidden js-form" name="Comments" netlify>
            <input type="hidden" name="parent" value="">
              <div class="form__col">
                <label class="form__label" for="name">Name:</label>
                <input class="form__input" id="name" name="name" type="text" placeholder="Barack Obama" required>
              </div>
              <div class="form__col">
                <label class="form__label" for="website">Website (optional):</label>
                <input class="form__input" id="website" name="website" type="url" placeholder="https://barackobama.com">
              </div>
              <div class="form__col">
                <label class="form__label" for="twitter">Twitter (optional):</label>
                <input class="form__input" id="twitter" name="twitter" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="github">GitHub (optional):</label>
                <input class="form__input" id="github" name="github" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="comment">Comment:</label>
                <textarea class="form__input form__input--textarea" id="comment" name="comment" placeholder="I think…" required></textarea>
              </div>
              <label class="form__row">
                <input class="form__checkbox js-form-save-data" name="save" type="checkbox">
                <span class="form__label form__label--thin">Save my data for the next time I comment</span>
              </label>
              <div class="form__row">
                <button class="form__button" type="submit">Submit comment</button>
              </div>
          </form>
                  </article>
                  <ul class="comments__list">
                    <li class="comments__item">
                      <article class="comments__wrapper">
                        <div class="comments__author">
                          <img src="/assets/comment.svg" alt="Pawel Grzybek" class="comments__author__photo">
                          <div class="comments__author__data">
                            <div class="comments__author__name">Pawel Grzybek</div>
                            <div class="comments__author__deta">2021.02.20, ID: 9874-748-78648-7489</div>
                          </div>
                        </div>
                        <div class="comments__content">
                          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio fuga omnis blanditiis perferendis porro, voluptates praesentium ad magni dicta possimus iste, soluta rem optio nam laudantium tempora dolor enim sit.</p>
                        </div>
                        <button class="comments__reply js-comments__reply">Reply to Pawel Grzybek</button>
                        <form class="form form--hidden js-form" name="Comments" netlify>
            <input type="hidden" name="parent" value="">
              <div class="form__col">
                <label class="form__label" for="name">Name:</label>
                <input class="form__input" id="name" name="name" type="text" placeholder="Barack Obama" required>
              </div>
              <div class="form__col">
                <label class="form__label" for="website">Website (optional):</label>
                <input class="form__input" id="website" name="website" type="url" placeholder="https://barackobama.com">
              </div>
              <div class="form__col">
                <label class="form__label" for="twitter">Twitter (optional):</label>
                <input class="form__input" id="twitter" name="twitter" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="github">GitHub (optional):</label>
                <input class="form__input" id="github" name="github" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="comment">Comment:</label>
                <textarea class="form__input form__input--textarea" id="comment" name="comment" placeholder="I think…" required></textarea>
              </div>
              <label class="form__row">
                <input class="form__checkbox js-form-save-data" name="save" type="checkbox">
                <span class="form__label form__label--thin">Save my data for the next time I comment</span>
              </label>
              <div class="form__row">
                <button class="form__button" type="submit">Submit comment</button>
              </div>
          </form>
                      </article>
                    </li>
                    <li class="comments__item">
                      <article class="comments__wrapper">
                        <div class="comments__author">
                          <img src="/assets/comment.svg" alt="Pawel Grzybek" class="comments__author__photo">
                          <div class="comments__author__data">
                            <div class="comments__author__name">Pawel Grzybek</div>
                            <div class="comments__author__deta">2021.02.20, ID: 9874-748-78648-7489</div>
                          </div>
                        </div>
                        <div class="comments__content">
                          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio fuga omnis blanditiis perferendis porro, voluptates praesentium ad magni dicta possimus iste, soluta rem optio nam laudantium tempora dolor enim sit.</p>
                        </div>
                        <button class="comments__reply js-comments__reply">Reply to Pawel Grzybek</button>
                        <form class="form form--hidden js-form" name="Comments" netlify>
            <input type="hidden" name="parent" value="">
              <div class="form__col">
                <label class="form__label" for="name">Name:</label>
                <input class="form__input" id="name" name="name" type="text" placeholder="Barack Obama" required>
              </div>
              <div class="form__col">
                <label class="form__label" for="website">Website (optional):</label>
                <input class="form__input" id="website" name="website" type="url" placeholder="https://barackobama.com">
              </div>
              <div class="form__col">
                <label class="form__label" for="twitter">Twitter (optional):</label>
                <input class="form__input" id="twitter" name="twitter" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="github">GitHub (optional):</label>
                <input class="form__input" id="github" name="github" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="comment">Comment:</label>
                <textarea class="form__input form__input--textarea" id="comment" name="comment" placeholder="I think…" required></textarea>
              </div>
              <label class="form__row">
                <input class="form__checkbox js-form-save-data" name="save" type="checkbox">
                <span class="form__label form__label--thin">Save my data for the next time I comment</span>
              </label>
              <div class="form__row">
                <button class="form__button" type="submit">Submit comment</button>
              </div>
          </form>
                      </article>
                    </li>
                    <li class="comments__item">
                      <article class="comments__wrapper">
                        <div class="comments__author">
                          <img src="/assets/comment.svg" alt="Pawel Grzybek" class="comments__author__photo">
                          <div class="comments__author__data">
                            <div class="comments__author__name">Pawel Grzybek</div>
                            <div class="comments__author__deta">2021.02.20, ID: 9874-748-78648-7489</div>
                          </div>
                        </div>
                        <div class="comments__content">
                          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio fuga omnis blanditiis perferendis porro, voluptates praesentium ad magni dicta possimus iste, soluta rem optio nam laudantium tempora dolor enim sit.</p>
                        </div>
                        <button class="comments__reply js-comments__reply">Reply to Pawel Grzybek</button>
                        <form class="form form--hidden js-form" name="Comments" netlify>
            <input type="hidden" name="parent" value="">
              <div class="form__col">
                <label class="form__label" for="name">Name:</label>
                <input class="form__input" id="name" name="name" type="text" placeholder="Barack Obama" required>
              </div>
              <div class="form__col">
                <label class="form__label" for="website">Website (optional):</label>
                <input class="form__input" id="website" name="website" type="url" placeholder="https://barackobama.com">
              </div>
              <div class="form__col">
                <label class="form__label" for="twitter">Twitter (optional):</label>
                <input class="form__input" id="twitter" name="twitter" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="github">GitHub (optional):</label>
                <input class="form__input" id="github" name="github" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="comment">Comment:</label>
                <textarea class="form__input form__input--textarea" id="comment" name="comment" placeholder="I think…" required></textarea>
              </div>
              <label class="form__row">
                <input class="form__checkbox js-form-save-data" name="save" type="checkbox">
                <span class="form__label form__label--thin">Save my data for the next time I comment</span>
              </label>
              <div class="form__row">
                <button class="form__button" type="submit">Submit comment</button>
              </div>
          </form>
                      </article>
                    </li>
                  </ul>
                </li>
                <li class="comments__item">
                  <article class="comments__wrapper">
                    <div class="comments__author">
                      <img src="/assets/comment.svg" alt="Pawel Grzybek" class="comments__author__photo">
                      <div class="comments__author__data">
                        <div class="comments__author__name">Pawel Grzybek</div>
                        <div class="comments__author__deta">2021.02.20, ID: 9874-748-78648-7489</div>
                      </div>
                    </div>
                    <div class="comments__content">
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio fuga omnis blanditiis perferendis porro, voluptates praesentium ad magni dicta possimus iste, soluta rem optio nam laudantium tempora dolor enim sit.</p>
                    </div>
                    <button class="comments__reply js-comments__reply">Reply to Pawel Grzybek</button>
                    <form class="form form--hidden js-form" name="Comments" netlify>
            <input type="hidden" name="parent" value="">
              <div class="form__col">
                <label class="form__label" for="name">Name:</label>
                <input class="form__input" id="name" name="name" type="text" placeholder="Barack Obama" required>
              </div>
              <div class="form__col">
                <label class="form__label" for="website">Website (optional):</label>
                <input class="form__input" id="website" name="website" type="url" placeholder="https://barackobama.com">
              </div>
              <div class="form__col">
                <label class="form__label" for="twitter">Twitter (optional):</label>
                <input class="form__input" id="twitter" name="twitter" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="github">GitHub (optional):</label>
                <input class="form__input" id="github" name="github" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="comment">Comment:</label>
                <textarea class="form__input form__input--textarea" id="comment" name="comment" placeholder="I think…" required></textarea>
              </div>
              <label class="form__row">
                <input class="form__checkbox js-form-save-data" name="save" type="checkbox">
                <span class="form__label form__label--thin">Save my data for the next time I comment</span>
              </label>
              <div class="form__row">
                <button class="form__button" type="submit">Submit comment</button>
              </div>
          </form>
                  </article>
                </li>
              </ul>
            </li>
            <li class="comments__item">
              <article class="comments__wrapper">
                <div class="comments__author">
                  <img src="/assets/comment.svg" alt="Pawel Grzybek" class="comments__author__photo">
                  <div class="comments__author__data">
                    <div class="comments__author__name">Pawel Grzybek</div>
                    <div class="comments__author__deta">2021.02.20, ID: 9874-748-78648-7489</div>
                  </div>
                </div>
                <div class="comments__content">
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio fuga omnis blanditiis perferendis porro, voluptates praesentium ad magni dicta possimus iste, soluta rem optio nam laudantium tempora dolor enim sit.</p>
                </div>
                <button class="comments__reply js-comments__reply">Reply to Pawel Grzybek</button>
                <form class="form form--hidden js-form" name="Comments" netlify>
            <input type="hidden" name="parent" value="">
              <div class="form__col">
                <label class="form__label" for="name">Name:</label>
                <input class="form__input" id="name" name="name" type="text" placeholder="Barack Obama" required>
              </div>
              <div class="form__col">
                <label class="form__label" for="website">Website (optional):</label>
                <input class="form__input" id="website" name="website" type="url" placeholder="https://barackobama.com">
              </div>
              <div class="form__col">
                <label class="form__label" for="twitter">Twitter (optional):</label>
                <input class="form__input" id="twitter" name="twitter" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="github">GitHub (optional):</label>
                <input class="form__input" id="github" name="github" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="comment">Comment:</label>
                <textarea class="form__input form__input--textarea" id="comment" name="comment" placeholder="I think…" required></textarea>
              </div>
              <label class="form__row">
                <input class="form__checkbox js-form-save-data" name="save" type="checkbox">
                <span class="form__label form__label--thin">Save my data for the next time I comment</span>
              </label>
              <div class="form__row">
                <button class="form__button" type="submit">Submit comment</button>
              </div>
          </form>
              </article>
            </li>
            <li class="comments__item">
              <article class="comments__wrapper">
                <div class="comments__author">
                  <img src="/assets/comment.svg" alt="Pawel Grzybek" class="comments__author__photo">
                  <div class="comments__author__data">
                    <div class="comments__author__name">Pawel Grzybek</div>
                    <div class="comments__author__deta">2021.02.20, ID: 9874-748-78648-7489</div>
                  </div>
                </div>
                <div class="comments__content">
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio fuga omnis blanditiis perferendis porro, voluptates praesentium ad magni dicta possimus iste, soluta rem optio nam laudantium tempora dolor enim sit.</p>
                </div>
                <button class="comments__reply js-comments__reply">Reply to Pawel Grzybek</button>
                <form class="form form--hidden js-form" name="Comments" netlify>
            <input type="hidden" name="parent" value="123">
              <div class="form__col">
                <label class="form__label" for="name">Name:</label>
                <input class="form__input" id="name" name="name" type="text" placeholder="Barack Obama" required>
              </div>
              <div class="form__col">
                <label class="form__label" for="website">Website (optional):</label>
                <input class="form__input" id="website" name="website" type="url" placeholder="https://barackobama.com">
              </div>
              <div class="form__col">
                <label class="form__label" for="twitter">Twitter (optional):</label>
                <input class="form__input" id="twitter" name="twitter" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="github">GitHub (optional):</label>
                <input class="form__input" id="github" name="github" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="comment">Comment:</label>
                <textarea class="form__input form__input--textarea" id="comment" name="comment" placeholder="I think…" required></textarea>
              </div>
              <label class="form__row">
                <input class="form__checkbox js-form-save-data" name="save" type="checkbox">
                <span class="form__label form__label--thin">Save my data for the next time I comment</span>
              </label>
              <div class="form__row">
                <button class="form__button" type="submit">Submit comment</button>
              </div>
          </form>
              </article>
            </li>
          </ul>

          <p class="comments__title">What'ya think?</p>

          <form class="form js-form" name="Comments" netlify>
            <input type="hidden" name="parent" value="">
              <div class="form__col">
                <label class="form__label" for="name">Name:</label>
                <input class="form__input" id="name" name="name" type="text" placeholder="Barack Obama" required>
              </div>
              <div class="form__col">
                <label class="form__label" for="website">Website (optional):</label>
                <input class="form__input" id="website" name="website" type="url" placeholder="https://barackobama.com">
              </div>
              <div class="form__col">
                <label class="form__label" for="twitter">Twitter (optional):</label>
                <input class="form__input" id="twitter" name="twitter" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="github">GitHub (optional):</label>
                <input class="form__input" id="github" name="github" type="text" placeholder="barackobama">
              </div>
              <div class="form__col">
                <label class="form__label" for="comment">Comment:</label>
                <textarea class="form__input form__input--textarea" id="comment" name="comment" placeholder="I think…" required></textarea>
              </div>
              <label class="form__row">
                <input class="form__checkbox js-form-save-data" name="save" type="checkbox">
                <span class="form__label form__label--thin">Save my data for the next time I comment</span>
              </label>
              <div class="form__row">
                <button class="form__button" type="submit">Submit comment</button>
              </div>
          </form>

        </section>
        {{ "<!-- / comments -->" | safeHTML }}

        {{ end }}

      </article>
      {{ "<!-- / post -->" | safeHTML }}

      <script>
          const encode = (data) => {
            return Object.keys(data)
                .map(key => encodeURIComponent(key) + "=" + encodeURIComponent(data[key]))
                .join("&");
          }

        const SELECTOR_FORM = '.js-form'
        const SELECTOR_FORM_SAVE_DATA = '.js-form-save-data'
        const SELECTOR_REPLY_BUTTON = ".js-comments__reply"
        const CLASS_FORM_HIDDEN = 'form--hidden'

        const toggleForm = (e) => e.target.parentElement.querySelector(SELECTOR_FORM).classList.toggle(CLASS_FORM_HIDDEN)
        const toggleSaveChackbox = (e) => savaDataCheckboxes.forEach(i => i.checked = e.target.checked)
        function submitForm(e) {
          e.preventDefault();

          fetch("/", {
            method: "POST",
            headers: { "Content-Type": "application/x-www-form-urlencoded" },
            body: encode({
              "form-name": "Comments",
              parent: this.querySelector('input[name="parent"]').value,
              name: this.querySelector('input[name="name"]').value,
              website: this.querySelector('input[name="website"]').value,
              twitter: this.querySelector('input[name="twitter"]').value,
              github: this.querySelector('input[name="github"]').value,
              comment: this.querySelector('textarea[name="comment"]').value,
              save: this.querySelector('input[name="save"]').checked.toString(),
             })
          })
            .then(() => console.log("Success!"))
            .catch(error => alert(error));
        }

        const savaDataCheckboxes = document.querySelectorAll(SELECTOR_FORM_SAVE_DATA)
        const forms = document.querySelectorAll(SELECTOR_FORM)
        const replyButtons = document.querySelectorAll(SELECTOR_REPLY_BUTTON)

        savaDataCheckboxes.forEach(i => i.addEventListener('change', toggleSaveChackbox))
        forms.forEach(i => i.addEventListener('submit', submitForm))
        replyButtons.forEach(i => i.addEventListener('click', toggleForm))
      </script>

{{ end }}
