{{ define "main" }}

<div class="wrapper">
  <main id="main">

      <article class="post js-post">
        <h1 class="post__title">{{ .Title }}</h1>

        {{ if eq .Type "posts" }}
        <p class="post__meta">Published: <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006.01.02" .Date }}</time> | {{ .ReadingTime }} minutes read</p>
        {{ end }}

        {{ .Content }}

        {{ if eq .Title "Archive" }}
          <ul>
            {{- range (where .Site.Pages.ByDate.Reverse "Section" "posts").GroupByDate "2006" -}}
            <li><a href="#{{ .Key }}">Published in {{ .Key }} ({{ len .Pages }} posts)</a></li>
            {{end}}
          </ul>

          {{ range (where .Site.Pages.ByDate.Reverse "Section" "posts").GroupByDate "2006" }}
            <h2 id="{{ .Key }}">Published in {{ .Key }} ({{ len .Pages }} posts) <a href="#{{ .Key }}" class="post__hash">#</a></h2>
            <ul class="archive">
              {{ range .Pages }}
                <li class="archive__item">
                  <a class="archive__link" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
                  <p class="archive__date">Published: <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006.01.02" .Date }}</time></p>
                </li>
              {{ end }}
            </ul>
          {{ end }}
        {{ end }}

        {{ if eq .Type "posts" }}
        <div class="share">
          <p class="share__text">If you liked this article, you can <a href="https://www.buymeacoffee.com/pawelgrzybek">buy me a coffee</a> and <a href="https://twitter.com/intent/tweet?text={{ .Title }}&amp;url={{ .Permalink }}&amp;via=pawelgrzybek" class="share__link" title="share on Twitter">share it on Twitter</a>.</p>
        </div>

        {{ $commentsKey := replace .RelPermalink "/" "" }}
        {{ $commentsExist := isset .Site.Data.comments $commentsKey }}

        {{ if $commentsExist }}
          {{ $commentsObject := index .Site.Data.comments $commentsKey }}
          {{ $comments := index $commentsObject "comments" }}
          <h2 id="comments">Comments</h2>
          {{ partial "comments.html" (dict "context" . "comments" $comments) }}
        {{ end }}

        <h2  id="what-ya-think">What'ya think?</h2>
        {{ partial "form.html" (dict "context" . "hidden" false "parent" "") }}

        {{ end }}

      </article>

      <script src="/comments.js"></script>

    </main>
  </div>

{{ end }}
