<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>

  {{ partial "header.html" . }}

  <main id="main">
    <strong>data: {{ .Data }}</strong>
    <!-- post -->
    <article class="post">
      <h1 class="post__title">{{ .Title }}</h1>

      {{ if eq .Type "posts" }}
      <p class="post__meta">Published: <time datetime="2018-03-03">2018.03.03</time> | {{ .ReadingTime }} minutes read</p>
      {{ end }}

      {{ .Content }}

      {{ if eq .Title "Archive" }}
      <!-- archive -->
      <ul class="archive">
        {{ range where .Site.Pages.ByDate "Section" "posts" }}
        <li class="archive__item">
          <a class="archive__link" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
          <p class="archive__date">Published: <time datetime="2018-03-03">2018.03.03</time></p>
        </li>
        {{ end }}
      </ul>
      <!-- / archive -->
      {{ end }}


      {{ if eq .Type "posts" }}
      <!-- share -->
      <section class="share">
        Share on: <a class="share__link" href="">Twitter</a>, <a class="share__link" href="">Facebook</a>
      </section>
      <!-- / share -->

      DISQS goes here !
      {{ end }}

    </article>
    <!-- / post -->

  </main>

  {{ partial "footer.html" . }}

</body>
</html>
