.archive {
  margin-left: 0;
  list-style: none;
}

.archive__item {
  padding: ($lh / 2) 0;
  box-shadow: 0 1px 0 0 #eee;
}

.archive__link {
  font-weight: 700;
  text-decoration: none;
  color: $color-text;

  &:hover {
    color: $color-link;
  }
}

.archive__date {
  margin: 0;
  font-size: $fz / $type-scale;
}
