.footer {
  color: var(--color-text);
  font-size: calc(var(--fz) / var(--type-scale) / var(--type-scale));
  font-weight: 700;
  text-decoration: none;
  vertical-align: top;
  padding: calc(var(--lh) * 2) 0;
}
