.form {
  display: flex;
  flex-wrap: wrap;
}

.form--hidden {
  display: none;
}

.form__col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  margin-bottom: calc(var(--lh) / 2);
}

@media screen and (min-width: 764px) {
  .form__col:nth-of-type(2),
  .form__col:nth-of-type(3),
  .form__col:nth-of-type(4) {
    width: 100px;
    margin-right: calc(var(--lh) / 2);
  }

  .form__col:nth-of-type(4) {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  min-width: 1px;
  margin-bottom: calc(var(--lh) / 2);
}

.form__label {
  font-weight: 600;
  font-size: calc(var(--fz) / var(--type-scale));
}

.form__label--thin {
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form__input {
  -webkit-appearance: none;
  border: 1px solid var(--color-box-border-dark);
  background-color: var(--color-background);
  height: calc(var(--lh) * 1.5);
  padding: 0 calc(var(--lh) / 2);
  color: var(--color-text);
  font: inherit;
}

.form__input--textarea {
  padding: calc(var(--lh) / 4) calc(var(--lh) / 2);
  min-height: calc(var(--lh) * 4);
}

.form__checkboxlabel {
  font-size: calc(var(--fz) / var(--type-scale));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--lh) / 2);
  min-width: 1px;
}

.form__checkbox {
  margin-right: calc(var(--lh) / 4);
  cursor: pointer;
}

.form__button {
  background: var(--color-link);
  color: var(--color-background);
  border: 0;
  font: inherit;
  padding: calc(var(--lh) / 4) var(--lh);
  cursor: pointer;
  font-size: calc(var(--fz) / var(--type-scale));
  font-weight: 600;
}
