.header {
  position: relative;
  padding: calc(var(--lh) * 3) 0;
}

.header__skip {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 calc(var(--lh) / 2);
  font-size: calc(var(--fz) / var(--type-scale));
  font-weight: 700;
  text-decoration: none;
  transform: scale(0);
}

.header__skip:focus {
  transform: scale(1);
}

.header__logo {
  margin: 0;
  font-size: calc(var(--fz) * var(--type-scale));
  line-height: var(--fz);
}

.header__link {
  color: var(--color-text);
  font-size: calc(var(--fz) / var(--type-scale));
  font-weight: 700;
  text-decoration: none;
  vertical-align: top;

  &:hover {
    color: var(--color-link);
  }
}

.header__link--logo {
  font-size: calc(var(--fz) * var(--type-scale));
}

.header__nav {
  display: flex;
  margin: 0;
  list-style: none;
}

.header__item {
  margin-right: calc(var(--fz) / 4);
  margin-right: calc(var(--lh) / 4);
}
