.header {
  position: relative;
  padding: calc(var(--lh) * 3) 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 764px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__skip {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 calc(var(--lh) / 2);
  font-size: calc(var(--fz) / var(--type-scale));
  transform: scale(0);
}

.header__skip:focus {
  transform: scale(1);
}

.header__logo {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: calc(var(--fz));
  line-height: var(--lh);
}

.header__logo a {
  display: flex;
  align-items: center;
  font-weight: 700;
}

@media screen and (min-width: 964px) {
  .header__logo a::before {
    content: "";
    width: calc(var(--lh) * 2);
    height: calc(var(--lh) * 2);
    margin-right: calc(var(--lh) / 2);
    background-image: url("/assets/logo.jpg");
    background-size: 100% 100%;
    border-radius: var(--lh);
  }

  .header__logo::after {
    font-weight: 400;
    white-space: pre;
    color: var(--color-text);
    content: " | Software Engineer at Mindera";
  }
}

.header__list {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}

.header__item {
  margin-right: calc(var(--lh) / 2);
}

.header__item:last-of-type {
  margin-right: 0;
}
