.paginator {
  display: flex;
  gap: calc(var(--lh) / 2);
  max-width: calc(920px + (2 * var(--lh)));
  margin-inline: auto;
  padding-inline: var(--lh);
}

.paginator__btn {
  padding: calc(var(--lh) / 4) calc(var(--lh) / 2);
  box-shadow: 0 0 0 1px currentColor;
  border-radius: 2px;
  font-size: calc(var(--fz) / var(--type-scale));
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.paginator__btn--prev {
  margin-inline-end: auto;
}

.paginator__btn--next {
  margin-inline-start: auto;
}
