.pager {
  display: flex;
}

.pager__btn {
  flex-grow: 1;
  font-size: calc(var(--fz) / var(--type-scale));
  font-weight: 700;
  text-decoration: none;
  vertical-align: top;
}

.pager__btn--prev {
  text-align: left;
}

.pager__btn--next {
  text-align: right;
}
