/* Post */
.post {
  margin-bottom: $lh * 3;
}

.post__title {
  margin-top: 0;
}

.post__url {
  color: $color-text;
  text-decoration: none;

  &:hover {
    color: $color-link;
  }
}

.post__meta {
  margin-top: -$lh;
  font-size: $fz / $type-scale;
}

.post__more {
  font-size: $fz / $type-scale;
  font-style: italic;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
}

.post__hash {
  text-decoration: none;
  margin-left: $lh / 4;
  color: rgba($color-text, 0.25);

  &:hover {
    color: $color-link;
  }
}
