.share {
  margin: ($lh * 2) 0;
  font-style: italic;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size:  $fz / $type-scale;
}

.share__link {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $color-text;
  }
}

.share__btn {
  display: inline-block;
  margin: 0 calc($lh / 2) calc($lh / 2) 0;
  padding: 0 $lh;
  font-size: calc(#{$fz} / #{$type-scale});
  line-height: calc($lh * 2);
  box-shadow: inset 0 0 0 1px $color-link;
  vertical-align: middle;
}

.share__btn:hover,
.share__btn:focus {
  background-color: $color-link;
  color: #fff;
  fill: #fff;
}
