.share {
  display: flex;
  align-items: center;
  background-color: var(--color-box-background);
  box-shadow: 0 0 0 1px var(--color-box-border);
  margin: calc(var(--lh) * 2) 0;
  padding: calc(var(--lh) / 2);
  font-size: calc(var(--fz) / var(--type-scale));
}

.share__icon {
  fill: rgb(29, 161, 242);
  margin-right: calc(var(--lh) / 2);
  width: var(--fz);
  height: var(--fz);
  flex-shrink: 0;
}

.share__text {
  margin: 0;
}
