.share {
  background-color: var(--color-box-background);
  box-shadow: 0 0 0 1px var(--color-box-border);
  margin-block: calc(var(--lh) * 2);
  padding: calc(var(--lh));
  border-radius: 2px;
}

.share__text {
  margin: 0;
}
