.share {
  margin: calc(var(--lh) * 2) 0;
  font-weight: 700;
  text-decoration: none;
  font-size: calc(var(--fz) / var(--type-scale));
}

.share__link {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-text);
  }
}
