.update {
  position: relative;
  padding: var(--lh);
  background-color: var(--color-update-background);
  box-shadow: 0 0 0 1px var(--color-update-border);
  border-radius: 2px;

  &::before {
    position: absolute;
    top: calc(var(--lh) / -2);
    left: calc(var(--lh) / 2);
    height: var(--lh);
    padding: 0 calc(var(--lh) / 2);
    background-color: var(--color-update-border);
    color: #fff;
    font-size: calc(var(--fz) / var(--type-scale));
    font-weight: 700;
    content: "Update";
    border-radius: 2px;
  }
}
