<div class="wrapper wrapper--wide">

  <header class="header">
    <a class="header__skip" href="#main">Skip to content</a>

    <a class="header__link" href="/">Paweł Grzybek</a>

    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a {{ if eq .RelPermalink "/posts/" }}aria-current="page"{{ end }} href="/posts" title="Archive">Archive</a>
        </li>
        <li class="header__item">
          <a
            href="https://mastodon.social/@pawelgrzybek"
            title="Pawel Grzybek on Mastodon"
            rel="me"
            >Mastodon</a
          >
        </li>
        <li class="header__item">
          <a
            href="https://bsky.app/profile/pawelgrzybek.com"
            title="Pawel Grzybek on Bluesky"
            rel="me"
            >Bluesky</a
          >
        </li>
        <li class="header__item">
          <a
            href="https://github.com/pawelgrzybek"
            title="Pawel Grzybek on GitHub"
            rel="me"
            >GitHub</a
          >
        </li>
      </ul>
    </nav>
  </header>
</div>

