<div class="wrapper wrapper--wide">

  <header class="header">
    <a class="header__skip" href="#main">Skip to content</a>

    <div class="header__logo">
      {{ if eq .IsHome true }}
      <h1 class="header__info">
        <a class="header__link" href="/">Paweł Grzybek</a>
      </h1>
      {{ else }}
      <div class="header__info">
        <a class="header__link" href="/">Paweł Grzybek</a>
      </div>
      {{ end }}
      <p class="header__description">Software Engineer at Polygon</p>
    </div>

    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a {{ if eq .RelPermalink "/archive/" }}aria-current="page"{{ end }} href="/archive" title="Archive">Archive</a>
        </li>
        <li class="header__item">
          <a href="/feed.xml" title="RSS Feed">RSS</a>
        </li>
        <li class="header__item">
          <a
            href="https://mastodon.social/@pawelgrzybek"
            title="Pawel Grzybek on Mastodon"
            rel="me"
            >Mastodon</a
          >
        </li>
        <li class="header__item">
          <a
            href="https://github.com/pawelgrzybek"
            title="Pawel Grzybek on GitHub"
            rel="me"
            >GitHub</a
          >
        </li>
      </ul>
    </nav>
  </header>
</div>

