<div class="share">
  <p>
    Did you like it? Please share it with your friends or get me a
    <del>beer</del> coffee. Thanks!
  </p>
  <div class="share__buttons">
    <button class="share__item__button js-share-button">Share it</button>
    <a
      class="share__item__button"
      href="https://www.buymeacoffee.com/pawelgrzybek"
      >Buy me a coffee</a
    >
  </div>
</div>

<script>
  const shareButton = document.querySelector(".js-share-button");

  navigator.share
    ? shareButton.addEventListener("click", () => {
        navigator
          .share({
            title: document.title,
            url: location.href,
          })
          .then(() => console.log("Sucesfully shared"))
          .catch((error) => console.log(error.message));
      })
    : (shareButton.style.display = "none");
</script>
