<div class="share" id="share">
  <p>
    Did you like it? Please share it with your friends or get me a
    <del>beer</del> coffee. Thanks!
  </p>
  <div class="share__buttons">
    <button class="btn js-share-button">Share it</button>
    <button class="btn js-copy-button">Copy URL</button>
    <a class="btn" href="https://www.buymeacoffee.com/pawelgrzybek"
      >Buy me a coffee</a
    >
  </div>
</div>

<script>
  const BUTTON_SHARE = document.querySelector(".js-share-button");
  const BUTTON_COPY = document.querySelector(".js-copy-button");

  if ((!"share") in navigator) {
    BUTTON_SHARE.remove();
  }

  BUTTON_SHARE.addEventListener("click", () => {
    navigator
      .share({ title: document.title, url: location.href })
      .then(() => {
        BUTTON_SHARE.innerText = "Shared";
      })
      .catch((error) => console.log(error.message));
  });

  BUTTON_COPY.addEventListener("click", () => {
    navigator.clipboard
      .writeText(location.href)
      .then(() => {
        BUTTON_COPY.innerText = "Copied";
      })
      .catch((error) => console.log(error.message));
  });
</script>
