{{ define "main" }}

<div class="wrapper">
  {{ range (.Paginate ( where .Site.Pages "Section" "posts" ).ByDate.Reverse).Pages }}

    <article class="post">
      <h2 class="post__title">
        <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
      </h2>
      <p class="post__meta">Published: <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006.01.02" .Date }}</time> · {{ .ReadingTime }} minutes read</p>
      <p>{{ .Summary }}</p>
    </article>

  {{ end }}
</div>

  {{ partial "pagination.html" . }}

{{ end }}
