<picture>
  {{- $destination := .Destination -}}
  {{- $extension := path.Ext $destination -}}
  {{- $resources := .Page.Resources -}}

  {{- $avifPath:= replace $destination $extension ".avif" -}}
  {{- $avifPathDark:= replace $destination $extension "-dark.avif" -}}
  {{- $webpPath:= replace $destination $extension ".webp" -}}
  {{- $webpPathDark:= replace $destination $extension "-dark.webp" -}}
  {{- $pathDark:= replace $destination $extension (print "-dark" $extension) -}}
  {{- $altText := .Text -}}

  {{- with $resources.GetMatch $avifPath -}}
  <source srcset="{{- $avifPath | safeURL -}}" type="image/avif" {{- with $resources.GetMatch $avifPathDark -}} media="(prefers-color-scheme: light)" {{- end -}} >
  {{- end -}}
  {{- with $resources.GetMatch $avifPathDark -}}
  <source srcset="{{- $avifPathDark | safeURL -}}" type="image/avif" {{- with $resources.GetMatch $avifPath -}} media="(prefers-color-scheme: dark)" {{- end -}}>
  {{- end -}}
  {{- with $resources.GetMatch $webpPath -}}
  <source srcset="{{- $webpPath | safeURL -}}" type="image/webp" {{- with $resources.GetMatch $webpPathDark -}} media="(prefers-color-scheme: light)" {{- end -}} >
  {{- end -}}
  {{- with $resources.GetMatch $webpPathDark -}}
  <source srcset="{{- $webpPathDark | safeURL -}}" type="image/webp" {{- with $resources.GetMatch $webpPath -}} media="(prefers-color-scheme: dark)" {{- end -}}>
  {{- end -}}
  {{- with $resources.GetMatch $pathDark -}}
  <source srcset="{{- $pathDark | safeURL -}}" media="(prefers-color-scheme: dark)">
  {{- end -}}

  {{- with $resources.GetMatch $destination -}}
    <img
      src="{{- .Permalink | safeURL -}}"
      alt="{{- $altText -}}"
      loading="lazy"
      decoding="async"
      width="{{- .Width -}}"
      height="{{- .Height -}}"
    />
  {{- end -}}
</picture>
