<ul class="comments">
  <li class="comments__item" id="comment-9874-748-78648-74891">
    <article class="comments__wrapper">
      <div class="comments__author">
        <img
          src="/assets/comment.svg"
          alt="Pawel Grzybek"
          class="comments__author__photo"
        />
        <div class="comments__author__data">
          <div class="comments__author__name">Pawel Grzybek</div>
          <div class="comments__author__metadata">
            <time datetime="2021-02-20">2021.02.20</time>,
            <a class="comments__hash" href="#comment-9874-748-78648-74891"
              >ID: 9874-748-78648-7489</a
            >
          </div>
        </div>
      </div>
      <div class="comments__content">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
          fuga omnis blanditiis perferendis porro, voluptates praesentium ad
          magni dicta possimus iste, soluta rem optio nam laudantium tempora
          dolor enim sit.
        </p>
      </div>
      <button class="comments__reply js-comments__reply">
        Reply to Pawel Grzybek
      </button>
      {{ partial "form.html" (dict "context" . "hidden" true) }}
    </article>
    <ul class="comments">
      <li class="comments__item" id="comment-9874-748-78648-74892">
        <article class="comments__wrapper">
          <div class="comments__author">
            <img
              src="/assets/comment.svg"
              alt="Pawel Grzybek"
              class="comments__author__photo"
            />
            <div class="comments__author__data">
              <div class="comments__author__name">Pawel Grzybek</div>
              <div class="comments__author__metadata">
                <time datetime="2021-02-20">2021.02.20</time>,
                <a class="comments__hash" href="#comment-9874-748-78648-74892"
                  >ID: 9874-748-78648-7489</a
                >
              </div>
            </div>
          </div>
          <div class="comments__content">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Distinctio fuga omnis blanditiis perferendis porro, voluptates
              praesentium ad magni dicta possimus iste, soluta rem optio nam
              laudantium tempora dolor enim sit.
            </p>
          </div>
          <button class="comments__reply js-comments__reply">
            Reply to Pawel Grzybek
          </button>
          {{ partial "form.html" (dict "context" . "hidden" true) }}
        </article>
      </li>
      <li class="comments__item" id="comment-9874-748-78648-7489">
        <article class="comments__wrapper">
          <div class="comments__author">
            <img
              src="/assets/comment.svg"
              alt="Pawel Grzybek"
              class="comments__author__photo"
            />
            <div class="comments__author__data">
              <div class="comments__author__name">Pawel Grzybek</div>
              <div class="comments__author__metadata">
                <time datetime="2021-02-20">2021.02.20</time>,
                <a class="comments__hash" href="#comment-9874-748-78648-7489"
                  >ID: 9874-748-78648-7489</a
                >
              </div>
            </div>
          </div>
          <div class="comments__content">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Distinctio fuga omnis blanditiis perferendis porro, voluptates
              praesentium ad magni dicta possimus iste, soluta rem optio nam
              laudantium tempora dolor enim sit.
            </p>
          </div>
          <button class="comments__reply js-comments__reply">
            Reply to Pawel Grzybek
          </button>
          {{ partial "form.html" (dict "context" . "hidden" true) }}
        </article>
        <ul class="comments">
          <li class="comments__item" id="comment-9874-748-78648-7489">
            <article class="comments__wrapper">
              <div class="comments__author">
                <img
                  src="/assets/comment.svg"
                  alt="Pawel Grzybek"
                  class="comments__author__photo"
                />
                <div class="comments__author__data">
                  <div class="comments__author__name">Pawel Grzybek</div>
                  <div class="comments__author__metadata">
                    <time datetime="2021-02-20">2021.02.20</time>,
                    <a
                      class="comments__hash"
                      href="#comment-9874-748-78648-7489"
                      >ID: 9874-748-78648-7489</a
                    >
                  </div>
                </div>
              </div>
              <div class="comments__content">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Distinctio fuga omnis blanditiis perferendis porro, voluptates
                  praesentium ad magni dicta possimus iste, soluta rem optio nam
                  laudantium tempora dolor enim sit.
                </p>
              </div>
              <button class="comments__reply js-comments__reply">
                Reply to Pawel Grzybek
              </button>
              {{ partial "form.html" (dict "context" . "hidden" true) }}
            </article>
          </li>
          <li class="comments__item" id="comment-9874-748-78648-7489">
            <article class="comments__wrapper">
              <div class="comments__author">
                <img
                  src="/assets/comment.svg"
                  alt="Pawel Grzybek"
                  class="comments__author__photo"
                />
                <div class="comments__author__data">
                  <div class="comments__author__name">Pawel Grzybek</div>
                  <div class="comments__author__metadata">
                    <time datetime="2021-02-20">2021.02.20</time>,
                    <a
                      class="comments__hash"
                      href="#comment-9874-748-78648-7489"
                      >ID: 9874-748-78648-7489</a
                    >
                  </div>
                </div>
              </div>
              <div class="comments__content">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Distinctio fuga omnis blanditiis perferendis porro, voluptates
                  praesentium ad magni dicta possimus iste, soluta rem optio nam
                  laudantium tempora dolor enim sit.
                </p>
              </div>
              <button class="comments__reply js-comments__reply">
                Reply to Pawel Grzybek
              </button>
              {{ partial "form.html" (dict "context" . "hidden" true) }}
            </article>
          </li>
          <li class="comments__item" id="comment-9874-748-78648-7489">
            <article class="comments__wrapper">
              <div class="comments__author">
                <img
                  src="/assets/comment.svg"
                  alt="Pawel Grzybek"
                  class="comments__author__photo"
                />
                <div class="comments__author__data">
                  <div class="comments__author__name">Pawel Grzybek</div>
                  <div class="comments__author__metadata">
                    <time datetime="2021-02-20">2021.02.20</time>,
                    <a
                      class="comments__hash"
                      href="#comment-9874-748-78648-7489"
                      >ID: 9874-748-78648-7489</a
                    >
                  </div>
                </div>
              </div>
              <div class="comments__content">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Distinctio fuga omnis blanditiis perferendis porro, voluptates
                  praesentium ad magni dicta possimus iste, soluta rem optio nam
                  laudantium tempora dolor enim sit.
                </p>
              </div>
              <button class="comments__reply js-comments__reply">
                Reply to Pawel Grzybek
              </button>
              {{ partial "form.html" (dict "context" . "hidden" true) }}
            </article>
          </li>
        </ul>
      </li>
      <li class="comments__item" id="comment-9874-748-78648-7489">
        <article class="comments__wrapper">
          <div class="comments__author">
            <img
              src="/assets/comment.svg"
              alt="Pawel Grzybek"
              class="comments__author__photo"
            />
            <div class="comments__author__data">
              <div class="comments__author__name">Pawel Grzybek</div>
              <div class="comments__author__metadata">
                <time datetime="2021-02-20">2021.02.20</time>,
                <a class="comments__hash" href="#comment-9874-748-78648-7489"
                  >ID: 9874-748-78648-7489</a
                >
              </div>
            </div>
          </div>
          <div class="comments__content">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Distinctio fuga omnis blanditiis perferendis porro, voluptates
              praesentium ad magni dicta possimus iste, soluta rem optio nam
              laudantium tempora dolor enim sit.
            </p>
          </div>
          <button class="comments__reply js-comments__reply">
            Reply to Pawel Grzybek
          </button>
          {{ partial "form.html" (dict "context" . "hidden" true) }}
        </article>
      </li>
    </ul>
  </li>
  <li class="comments__item" id="comment-9874-748-78648-7489">
    <article class="comments__wrapper">
      <div class="comments__author">
        <img
          src="/assets/comment.svg"
          alt="Pawel Grzybek"
          class="comments__author__photo"
        />
        <div class="comments__author__data">
          <div class="comments__author__name">Pawel Grzybek</div>
          <div class="comments__author__metadata">
            <time datetime="2021-02-20">2021.02.20</time>,
            <a class="comments__hash" href="#comment-9874-748-78648-7489"
              >ID: 9874-748-78648-7489</a
            >
          </div>
        </div>
      </div>
      <div class="comments__content">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
          fuga omnis blanditiis perferendis porro, voluptates praesentium ad
          magni dicta possimus iste, soluta rem optio nam laudantium tempora
          dolor enim sit.
        </p>
      </div>
      <button class="comments__reply js-comments__reply">
        Reply to Pawel Grzybek
      </button>
      {{ partial "form.html" (dict "context" . "hidden" true) }}
    </article>
  </li>
  <li class="comments__item" id="comment-9874-748-78648-7489">
    <article class="comments__wrapper">
      <div class="comments__author">
        <img
          src="/assets/comment.svg"
          alt="Pawel Grzybek"
          class="comments__author__photo"
        />
        <div class="comments__author__data">
          <div class="comments__author__name">Pawel Grzybek</div>
          <div class="comments__author__metadata">
            <time datetime="2021-02-20">2021.02.20</time>,
            <a class="comments__hash" href="#comment-9874-748-78648-7489"
              >ID: 9874-748-78648-7489</a
            >
          </div>
        </div>
      </div>
      <div class="comments__content">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
          fuga omnis blanditiis perferendis porro, voluptates praesentium ad
          magni dicta possimus iste, soluta rem optio nam
          <strong>laudantium</strong> tempora dolor enim sit.
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
          fuga omnis blanditiis perferendis porro, voluptates praesentium ad
          magni dicta possimus iste, soluta rem optio nam laudantium tempora
          dolor enim sit.
        </p>
      </div>
      <button class="comments__reply js-comments__reply">
        Reply to Pawel Grzybek
      </button>
      {{ partial "form.html" (dict "context" . "hidden" true) }}
    </article>
  </li>
</ul>
