<header class="header">

  <a class="header__skip" href="#main">Skip to content</a>

  <!-- <div class="header__logo">
    <a class="header__link header__link--logo" href="/" class="header__link">pawelgrzybek.com</a>
  </div> -->
  <h1 class="header__logo">
    <a class="header__link header__link--logo" href="/" class="header__link">pawelgrzybek.com</a>
  </h1>

  <nav>
    <ul class="header__nav">
      <li class="header__item">
        <a class="header__link" href="/about" title="About">About</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="/archive" title="Archive">Archive</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="http://twitter.com/pawelgrzybek" title="Pawel Grzybek on Twitter">Twitter</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="http://github.com/pawelgrzybek" title="Pawel Grzybek on Github">Github</a>
      </li>
    </ul>
  </nav>

</header>


