<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Pawel Grzybek - https://pawelgrzybek.com/">

  <!-- title -->
  <!-- on index: pawelgrzybek.com -->
  <!-- on post: Title of a post | pawelgrzybek.com -->
  <!-- on page: Title of a page | pawelgrzybek.com -->
  <!-- on archive page: pawelgrzybek.com -->

  <!-- description -->
  <!-- on index: Global -->
  <!-- on post: Posts desctiption -->
  <!-- on page: pages description -->
  <!-- on archive page: global -->

  <style>{{ readFile "static/css/style.css" | safeCSS }}</style>

</head>
