<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Pawel Grzybek - {{ .Site.BaseURL }}">

  <!-- title -->
  <!-- on index: pawelgrzybek.com -->
  <!-- on archive page: pawelgrzybek.com -->
  <!-- on page: Title of a page | pawelgrzybek.com -->
  <!-- on post: Title of a post | pawelgrzybek.com -->
  <title></title>

  <!-- description -->
  <!-- on index: Global -->
  <!-- on archive page: global -->
  <!-- on page: pages description -->
  <!-- on post: Posts desctiption -->
  <meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />

  <style>{{ readFile "static/css/style.css" | safeCSS }}</style>

</head>
