@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("/assets/Inter.var.woff2") format("woff2");
}

::selection {
  background: var(--color-link);
  color: #fff;
  text-shadow: none;
}

html {
  font-size: var(--fzb);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  scroll-padding-top: var(--lh);
  scroll-behavior: smooth;
  color-scheme: light dark;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--fz);
  line-height: var(--lh);
  transition: background-color 1s, color 1s;

  // background-image: linear-gradient(
  //   rgba(50, 50, 50, 0.15) 1px,
  //   transparent 1px
  // );
  // background-size: 100% 32px;
  // background-size: 100% 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}

a {
  // background: transparent;
  color: inherit;
  text-decoration-color: var(--color-link);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  // word-wrap: break-word;
}

// a:hover,
// a:focus,
// a:active,
// [aria-current="page"] {
//   color: var(--color-text);
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: calc(var(--lh) * 1.5);
  font-variation-settings: "wght" 800, "slnt" 0;
  text-decoration: none;
  word-wrap: break-word;
}

h1 {
  font-size: calc(
    var(--fz) * var(--type-scale) * var(--type-scale) * var(--type-scale)
  );
  line-height: calc(var(--lh) * 1.5);
}

h2 {
  font-size: calc(var(--fz) * var(--type-scale) * var(--type-scale));
}

h3 {
  font-size: calc(var(--fz) * var(--type-scale));
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: calc(var(--fz) / var(--type-scale));
}

h6 {
  font-size: calc(var(--fz) / var(--type-scale) / var(--type-scale));
}

ul,
ol {
  margin: 0 0 var(--lh) var(--lh);
}

li ul,
li ol {
  margin: 0 0 0 var(--lh);
}

hr {
  display: block;
  height: var(--lh);
  border: 0;
  box-shadow: 0 1px 0 #eee;
}

blockquote {
  padding: var(--lh);
  background: var(--color-box-background);
  box-shadow: inset 0 0 0 1px var(--color-box-border);
}

blockquote p {
  margin: 0;
  font-style: italic;
}

picture {
  display: block;
}

figcaption {
  font-size: calc(var(--fz) / var(--type-scale));
  font-style: italic;
}
