@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/InterVariable-Italic.woff2") format("woff2");
}

@font-face {
  font-family: MonaspaceNeonVar;
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url("/MonaspaceNeonVar.woff2") format("woff2");
}

::selection {
  background-color: var(--color-link);
  color: var(--color-background);
  text-shadow: none;
}

::target-text {
  background-color: color-mix(in srgb, var(--color-link) 25%, transparent);
  color: var(--color-text);
}

html {
  font-size: var(--fzb);
  box-sizing: border-box;
  scroll-padding-top: var(--lh);
  scroll-behavior: smooth;
  color-scheme: light dark;
  // get the consistent look on macOS https://dbushell.com/2024/11/05/webkit-font-smoothing/
  -webkit-font-smoothing: antialiased;
  // https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family:
    InterVariable,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: var(--fz);
  font-weight: 480;
  line-height: var(--lh);
  transition: all 300ms;

  /* background-image: linear-gradient( */
  /* var(--color-box-border-dark) 1px, */
  /* transparent 1px */
  /* ); */
  /* background-size: 100% 1lh; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}

video {
  max-width: 100%;
}

a {
  background-color: transparent;
  color: var(--color-link);
  word-wrap: break-word;
  text-decoration-color: var(--color-link);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

a:hover,
a:focus,
a:active,
[aria-current="page"] {
  color: var(--color-text);
  text-decoration-color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  text-decoration: none;
  word-wrap: break-word;
}

h1 {
  font-size: calc(
    var(--fz) * var(--type-scale) * var(--type-scale) * var(--type-scale)
  );
  line-height: calc(var(--lh) * 1.5);
}

h2 {
  font-size: calc(var(--fz) * var(--type-scale) * var(--type-scale));
}

h3 {
  font-size: calc(var(--fz) * var(--type-scale));
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: calc(var(--fz) / var(--type-scale));
}

h6 {
  font-size: calc(var(--fz) / var(--type-scale) / var(--type-scale));
}

ul,
ol {
  margin: 0 0 var(--lh) var(--lh);
}

li ul,
li ol {
  margin: 0 0 0 var(--lh);
}

hr {
  display: block;
  height: var(--lh);
  border: 0;
  background-image: linear-gradient(
    90deg,
    var(--color-box-border-dark),
    var(--color-background)
  );
  background-size: 100% 1px;
  background-position: center;
  background-repeat: no-repeat;
}

blockquote {
  padding: var(--lh);
  background: var(--color-box-background);
  border-inline-start: calc(var(--lh) / 4) solid var(--color-box-border);
}

blockquote p {
  margin: 0;
  font-style: italic;
}

blockquote cite {
  display: block;
  margin-block-start: var(--lh);
  text-align: end;
}

blockquote cite::before {
  content: " \2014";
  margin-inline-end: calc(var(--lh) / 2);
}

picture {
  display: block;
}

figcaption {
  font-size: calc(var(--fz) / var(--type-scale));
  font-style: italic;
}

sup {
  vertical-align: bottom;
  position: relative;
  top: calc(var(--lh) / -4);
  font-size: calc(var(--fz) / var(--type-scale));
}
