:root {
  --fz: 1rem;
  --fzb: 106.25%; // 17px
  --lh: 1.6470588235rem; //28px
  --type-scale: 1.2;

  --border-radius: 4px;

  --color-background: light-dark(hsl(255 0% 100%), hsl(210 15% 15%));
  --color-text: light-dark(hsl(255 10% 20%), hsl(210 15% 90%));
  --color-link: light-dark(hsl(255 55% 40%), hsl(210 100% 81%));
  --color-share: light-dark(hsl(255 55% 40% / 0.06), hsl(212 100% 81% / 0.06));
  --color-share-border: light-dark(
    hsl(255 55% 40% / 0.08),
    hsl(212 100% 81% / 0.08)
  );
  --color-update-background: light-dark(hsl(5 90% 97%), hsl(5 35% 24%));
  --color-update-border: light-dark(hsl(5 90% 80%), hsl(5 35% 32%));
  --color-box-background: light-dark(hsl(0 0% 97%), hsl(210 12% 11%));
  --color-box-border: light-dark(hsl(0 0% 93%), hsl(210 12% 20%));
  --color-box-border-dark: light-dark(hsl(0 0% 87%), hsl(210 12% 30%));

  --color-syntax-c1: light-dark(#6a737d, #6a737d);
  --color-syntax-nx: light-dark(#005cc5, #79b8ff);
  --color-syntax-p: light-dark(#24292e, #e1e4e8);
  --color-syntax-o: light-dark(#d73a49, #f97583);
  --color-syntax-sb: light-dark(#032f62, #e1e4e8);
  --color-syntax-nt: light-dark(#005cc5, #79b8ff);
  --color-syntax-s2: light-dark(#032f62, #9ecbff);
  --color-syntax-kr: light-dark(#d73a49, #f97583);
  --color-syntax-na: light-dark(#6f42c1, #b392f0);
  --color-syntax-s: light-dark(#032f62, #9ecbff);
  --color-syntax-nc: light-dark(#6f42c1, #b392f0);
  --color-syntax-k: light-dark(#005cc5, #79b8ff);
}

/* this should go away when ligh-dark gains wider browser support */
/* https://webstatus.dev/features/light-dark?q=light-dark */
@supports not (color: light-dark(white, black)) {
  :root {
    --color-background: hsl(255 0% 100%);
    --color-text: hsl(255 10% 20%);
    --color-link: hsl(255 55% 40%);
    --color-share: hsl(255 55% 40% / 0.06);
    --color-share-border: hsl(255 55% 40% / 0.08);
    --color-update-background: hsl(5 90% 97%);
    --color-update-border: hsl(5 90% 80%);
    --color-box-background: hsl(0 0% 97%);
    --color-box-border: hsl(0 0% 93%);
    --color-box-border-dark: hsl(0 0% 87%);
    --color-syntax-c1: #6a737d;
    --color-syntax-nx: #005cc5;
    --color-syntax-p: #24292e;
    --color-syntax-o: #d73a49;
    --color-syntax-sb: #032f62;
    --color-syntax-nt: #005cc5;
    --color-syntax-s2: #032f62;
    --color-syntax-kr: #d73a49;
    --color-syntax-na: #6f42c1;
    --color-syntax-s: #032f62;
    --color-syntax-nc: #6f42c1;
    --color-syntax-k: #005cc5;
  }
}

@media screen and (min-width: 764px) {
  :root {
    --fzb: 112.5%; // 18px
    --lh: 1.6666666667rem; //30px
  }
}
