.footer {
  color: $color-text;
  font-size: $fz / $type-scale / $type-scale;
  font-style: italic;
  font-weight: 900;
  text-decoration: none;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  padding: ($lh * 2) 0;
}
