.pager {
  display: flex;
}

.pager__btn {
  flex-grow: 1;
  font-size: $fz / $type-scale;
  font-style: italic;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
}

.pager__btn--prev {
  text-align: left;
}

.pager__btn--next {
  text-align: right;
}
