.header {
  display: flex;
  justify-content: space-between;
  padding-block: calc(var(--lh) * 4);
  position: relative;
  padding-block: calc(var(--lh) * 2);

  @media screen and (min-width: 900px) {
    padding-block: calc(var(--lh) * 4);
  }
}

.header__skip {
  position: absolute;
  top: 0;
  padding-inline: calc(var(--lh) / 2);
  font-size: calc(var(--fz) / var(--type-scale));
  transform: scale(0);
}

.header__skip:focus {
  transform: scale(1);
}

.header__nav {
  display: flex;
}

.header__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--lh) / 2);
  margin: 0;
  list-style: none;
}

.header__item--logo {
  flex-basis: 100%;

  @media screen and (min-width: 764px) {
    flex-basis: auto;
  }
}

.header__logo {
  color: inherit;
  display: flex;
  width: fit-content;
  gap: calc(var(--lh) / 2);
  align-items: center;
  font-size: calc(var(--fz));
  font-weight: 800;
  text-decoration: none;
}

.header__logo::before {
  content: "";
  width: calc(var(--lh) * 2);
  height: calc(var(--lh) * 2);
  background-image: url("/logo.jpg");
  background-size: 100% 100%;
  border-radius: var(--lh);
}

.header-theme {
  all: unset;
  display: none;
  align-items: center;
  gap: calc(var(--lh) / 2);
  font-size: calc(var(--fz) / var(--type-scale));

  @media screen and (min-width: 900px) {
    display: flex;
  }
}

.header-theme__container:focus-within {
  outline-color: inherit;
  outline-color: Highlight;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}

.header-theme__legend:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.header-theme__input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.header-theme__input:checked + .header-theme__label {
  background-color: transparent;
  color: var(--color-link);
  word-wrap: break-word;
  text-decoration: underline;
  text-decoration-color: var(--color-link);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.header-theme__label {
  cursor: pointer;
}
