.music {
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: var(--lh);
}

.music__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.music__link:hover .music__cover {
  opacity: 0.7;
}

.music__cover {
  aspect-ratio: 1;
  object-fit: cover;
  margin-block-end: calc(var(--lh) / 2);
  background: var(--color-box-background);
  border-radius: var(--border-radius);
}

.music__artist {
  font-weight: 800;
}

.music__title {
  margin-block-end: auto;
}

.music__added {
  font-size: calc(var(--fz) / var(--type-scale));
}
