.share {
  display: flex;
  flex-direction: column;
  gap: var(--lh);
  box-shadow: inset 0 0 0 2px var(--color-share-border);
  background-color: var(--color-share);
  border-radius: var(--border-radius);
  padding: var(--lh);
  margin-block: calc(var(--lh) * 3);
}

@media screen and (min-width: 900px) {
  .share {
    width: calc(100% + 2 * var(--lh));
    margin-inline-start: calc(var(--lh) * -1);
  }
}

.share__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--lh) / 2);
}

.share__item__button {
  background: var(--color-link);
  color: var(--color-background);
  border: 0;
  font: inherit;
  padding: calc(var(--lh) / 4) var(--lh);
  cursor: pointer;
  font-size: calc(var(--fz) / var(--type-scale));
  font-weight: 600;
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 2px var(--color-link);
  text-decoration: none;
}

.share__item__button:hover {
  background: var(--color-background);
  color: var(--color-link);
}
