@media screen and (min-width: 900px) {
  pre {
    width: calc(100% + var(--lh) * 1.5);
    margin-inline-start: calc(var(--lh) * -0.75);
  }
}

code,
kbd {
  box-shadow: 0 0 0 1px var(--color-box-border);
  padding: 2px 5px;
  border-radius: var(--border-radius);
  background-color: var(--color-box-background);
  font-size: 0.88888889em;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  vertical-align: top;
  word-break: break-word;
}

pre {
  padding: calc(var(--lh) * 0.5) calc(var(--lh) * 0.75);
  margin-block-end: var(--lh);
  background-color: var(--color-box-background);
  overflow-x: scroll;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 1px var(--color-box-border);

  code {
    min-width: 100%;
    display: inline-block;
    box-shadow: unset;
    padding: unset;
  }
}

.chroma {
  .hl {
    display: block;
    width: 100%;
    background-color: var(--color-box-border);
    box-shadow: calc(var(--lh) * -1) 0 0 0 var(--color-box-border),
      var(--lh) 0 0 0 var(--color-box-border);
  }

  .c1 {
    color: var(--color-syntax-c1);
  }

  .nx {
    color: var(--color-syntax-nx);
  }

  .p {
    color: var(--color-syntax-p);
  }

  .o {
    color: var(--color-syntax-o);
  }

  .sb {
    color: var(--color-syntax-sb);
  }

  .nt {
    color: var(--color-syntax-nt);
  }

  .s2 {
    color: var(--color-syntax-s2);
  }

  .kr {
    color: var(--color-syntax-kr);
  }

  .na {
    color: var(--color-syntax-na);
  }

  .s {
    color: var(--color-syntax-s);
  }

  .nc {
    color: var(--color-syntax-nc);
  }

  .k {
    color: var(--color-syntax-k);
  }
}
